body.dark-mode {
    --bg-opacity: 1;
    background-color: #FFFFFF;
    background-color: rgba(26, 32, 44, var(--bg-opacity));
    color: #37FFE5;
}

.card-body {
    background-color: #FFFFFF;
}

.sticky-footer {
    background-color: #FFFFFF;
    color: #fff
}

.sticky-footer a {
    color: #fff
}