body.dark-mode {
    --bg-opacity: 1;
    background-color: #add8e6;
    background-color: rgba(26, 32, 44, var(--bg-opacity));
    color: #0FF0FF;
}

.card-body {
    background-color: #ffffff;
}

.sticky-footer {
    background-color: #ffff;
    color: #fff
}

.sticky-footer a {
    color: #fff
}